<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Practica3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form }}
        <input type="reset" value="Reset" id="reset"/>
        <input type="submit" value="Submit" id="submit"/>
    </form>

    <ul>
        {% for palabra in palabras %}
            <li>{{ palabra.0 }} - {{ palabra.1 }}</li>
        {% endfor %}
    </ul>
</body>
</html>
